<app-toast *ngIf="showToast" [(show)]="showToast" [message]="toastMessage"></app-toast>
<app-loading *ngIf="showLoading" [(show)]="showLoading"></app-loading>

<app-content-padding>
  <app-form-container>

    <app-form-label text="Redni broj"></app-form-label>
    <app-form-number [(number)]="redniBroj" placeholder="Redni broj" [(pulseAnimation)]="pulseRedniBroj">
    </app-form-number>


    <app-form-label text="Vrsta bankomata"></app-form-label>
    <app-form-select [(odabranaVrijednost)]="odabranaVrstaBankomata" [listaVrijednosti]="vrsteBankomata"
      [(pulseAnimation)]="pulseVrstaBankomata" (odabranaVrijednostChange)="izmjeniVrstuBankomata($event)">
    </app-form-select>


    <app-form-label text="Adresa bankomata"></app-form-label>
    <app-form-text [(text)]="adresaBankomata" placeholder="Adresa bankomata" [(pulseAnimation)]="pulseAdresaBankomata">
    </app-form-text>

    <app-form-label text="Zemljopisna širina (lat)"></app-form-label>
    <app-form-number [(number)]="lat" placeholder="Zemljopisna širina" [readonly]="true">
    </app-form-number>
    <app-form-label text="Zemljopisna dužina (lng)"></app-form-label>
    <app-form-number [(number)]="lng" placeholder="Zemljopisna dužina" [readonly]="true">
    </app-form-number>


    <app-form-label text="Napomena"></app-form-label>
    <app-form-select [(odabranaVrijednost)]="napomena" [listaVrijednosti]="vrsteNapomena"
      [(pulseAnimation)]="pulseVrstaBankomata" (odabranaVrijednostChange)="izmjeniVrstuNapomene($event)">
    </app-form-select>

    <app-map-admin (mapaKliknuta)="azurirajAdresu($event)" (promjenaMarkera)="azurirajLokaciju($event)">
    </app-map-admin>

    <app-form-button text="Izmjeni bankomat" (buttonClicked)="izmjeniBankomat()"></app-form-button>

  </app-form-container>
</app-content-padding>
