:host {
	display: block;
	position: relative;

	width: 100%;
	height: auto;

	text-align: left !important;

	margin-top: 10px;
	margin-bottom: 10px;
}

label {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px !important;
	text-align: left !important;
}