<div class="password-kontejner" [ngClass]="{'animate__animated animate__pulse' : pulseAnimation}">
  <input class="input-common" [type]="toggleState ? 'text' : 'password'" id="id_password" [placeholder]="placeholder"
    [(ngModel)]="password" (ngModelChange)="passwordChanged($event)" style="margin-bottom: 12px !important;">
  <i *ngIf="toggleState" class="far fa-eye pozicija" id="togglePassword" (click)="togglePassword()"></i>
  <i *ngIf="!toggleState" class="far fa-eye-slash pozicija" id="togglePassword" (click)="togglePassword()"></i>
</div>
