<app-content-padding>

  <app-form-container>
    <app-form-label text="Pretraži prema:"></app-form-label>
    <app-form-select [listaVrijednosti]="searchOptions" [(odabranaVrijednost)]="chosenSearchOption"
      (odabranaVrijednostChange)="promjeniOpcijuFiltra($event)"></app-form-select>

    <app-form-searchbar [(pretraga)]="searchTerm" (pretragaChange)="filtriraj($event)"></app-form-searchbar>
  </app-form-container>
  <br>

  <app-spinner *ngIf="!loadingComplete"></app-spinner>

  <br>
  <br>
  <app-table-container *ngIf="loadingComplete && this.searchListATM.length > 0">
    <!-- Zaglavlje tablice -->
    <tr>
      <th>Redni broj</th>
      <th>Vrsta bankomata</th>
      <th>Adresa</th>
      <th>Napomena</th>
      <th>Radnja</th>
    </tr>

    <tr *ngFor="let atm of searchListATM">
      <th>{{atm.redniBroj}}</th>
      <th>{{atm.vrstaBankomata}}</th>
      <th>{{atm.adresa}}</th>
      <th>{{atm.napomena}}</th>

      <th>
        <i class="fa fa-edit" aria-hidden="true" [routerLink]="['/admin', 'izmjena', atm.redniBroj]"></i>
        <i class="fa fa-trash" aria-hidden="true" (click)="potvrdiBrisanjeBankomata(atm)"></i>
      </th>
    </tr>

  </app-table-container>

</app-content-padding>
