<div class="content" role="main">
  <app-form-container-center>
    <app-form-title text="Dobrodošli!"></app-form-title>

    <app-form-label text="Korisničko ime"></app-form-label>
    <app-form-text placeholder="Korisničko ime"></app-form-text>


    <app-form-label text="Lozinka"></app-form-label>
    <app-form-password placeholder="Lozinka"></app-form-password>

    <app-form-button text="Prijava"></app-form-button>
    <!-- <app-form-button text="Prijava"></app-form-button> -->


  </app-form-container-center>
  <router-outlet></router-outlet>
</div>
