<app-navigation-container>
  <a routerLink="/admin" routerLinkActive="dodaj-border" [routerLinkActiveOptions]="{exact: true}">Početna</a>
  <a routerLink="/admin/pregled-bankomata" routerLinkActive="dodaj-border"
    [routerLinkActiveOptions]="{exact: true}">Pregled
    bankomata na karti</a>
  <a routerLink="/admin/unos" routerLinkActive="dodaj-border" [routerLinkActiveOptions]="{exact: true}">Unos
    bankomata</a>
  <a routerLink="/admin/pretraga" routerLinkActive="dodaj-border" [routerLinkActiveOptions]="{exact: true}">Pretraga
    bankomata</a>
  <a (click)="userLogout()">Odjava</a>
</app-navigation-container>
