<app-toast *ngIf="showToast" [(show)]="showToast" [message]="toastMessage"></app-toast>


<app-content-padding>
  <app-form-container>
    <app-form-label text="Vrsta bankomata"></app-form-label>


    <app-form-select [(odabranaVrijednost)]="odabranaVrstaBankomata" [listaVrijednosti]="vrsteBankomata"
      (odabranaVrijednostChange)="izmjeniVrstuBankomata($event)">
    </app-form-select>


    <app-form-label text="Adresa bankomata"></app-form-label>
    <app-form-text [(text)]="adresaBankomata"></app-form-text>

    <app-form-label text="Napomena"></app-form-label>


    <app-form-button text="Unesi bankomat" (buttonClicked)="unesiBankomat()"></app-form-button>

  </app-form-container>
</app-content-padding>
