:host {
	display: block;
	position: relative;

	width: 100%;
	height: auto;

	box-sizing: border-box;
}

table {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	min-height: 20px;

	background-color: var(--TABLE-BACKGROUND);
}