<app-content-padding>
  <app-spinner *ngIf="!loadingComplete"></app-spinner>

  <app-table-container *ngIf="loadingComplete">

    <!-- Zaglavlje tablice -->
    <tr>
      <th>Redni broj</th>
      <th>Vrsta bankomata</th>
      <th>Adresa</th>
      <th>Napomena</th>
      <th>Radnja</th>
    </tr>


    <tr *ngFor="let atm of listATM">
      <th>{{atm.redniBroj}}</th>
      <th>{{atm.vrstaBankomata}}</th>
      <th>{{atm.adresa}}</th>
      <th>{{atm.napomena}}</th>

      <th>
        <i class="fa fa-edit" aria-hidden="true" [routerLink]="['/admin/izmjena', atm.redniBroj]"></i>
        <i class="fa fa-trash" aria-hidden="true" (click)="potvrdiBrisanjeBankomata(atm)"></i>
      </th>
    </tr>



  </app-table-container>
</app-content-padding>
